{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">{{title}}</div>
    <div class="md-panel-summary">{{date}}</div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
  {{log expanded}}
    {{#expanded.header}}
      <div class="md-panel-title">
        {{#unless recentlyDeleted}}
          {{text-editable maxlength=20 allowNewlines=false value=title class="text-editable text-editable-title"}}
        {{else}}
          {{title}}
        {{/unless}}
      </div>
      <div class="md-panel-summary">{{date}}</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content class='expanded'}}
    {{#unless recentlyDeleted}}
      {{text-editable allowNewlines=true value=content class="text-editable text-editable-content"}}
    {{else}}
      {{content}}
    {{/unless}}
    {{/expanded.content}}

    {{#expanded.footer}}
      <span class="flex"></span>
      {{#paper-button onClick=(action 'delete')}}Delete{{/paper-button}}
      {{#unless recentlyDeleted}}
        <div {{action panel.collapse}}>{{#paper-button primary=true onClick=(action 'save' title content)}}Save{{/paper-button}}</div>
      {{else}}
        {{#paper-button primary=true onClick=(action 'recover')}}Recover{{/paper-button}}
      {{/unless}}
    {{/expanded.footer}}

  {{/panel.expanded}}
{{/paper-expansion-panel}}
